.parent_nav {
  width: 100%;
  height: 120px;
  /* position: fixed;
  z-index: 99; */
  background: -webkit-linear-gradient(top, #a5d2df, #9dbe90);
}
.nav {
  width: 75%;
  margin: 0 auto;
  height: 100%; 
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav_search {
  width: 100%;
  display: flex;
  justify-content: center;
}
a {
  color: #000;
  font-size: 70px;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-weight: 500;
}
input {
  width: 75%;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(251, 252, 253);
  border: 1px solid black;
}
.nav_search button {
  width: 80px;
  height: 40px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid black;
}
